@import '../../variables.scss';

.MuiTablePagination-selectLabel,
.MuiTablePagination-displayedRows {
  margin: 0px;
}
.icon-btn {
  margin-bottom: 0px;
  padding: 3px 4px;
  text-align: center;
  vertical-align: middle;
  display: inherit;
  border-radius: 3px;
  font-size: 0.9rem;
  line-height: 1.42857;
  background-color: $primary-color;
}

// info popup adjust to top center
.css-hz1bth-MuiDialog-container {
  height: auto !important;
}

// timeline
.MuiTimeline-root .MuiTimelineItem-root:before {
  flex: 0.2 !important;
}

// styled drawer
.MuiDrawer-root {
  ::-webkit-scrollbar {
    width: 3px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: $background-color-white;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}
