@import '../variables.scss';

.dashboard-wrapper {
  background-color: $background-color-white;
}
.dashboard-table-left {
  padding-left: 0px !important;
}
.dashboard-table-right {
  padding-left: 0px !important;
  padding-left: 20px !important;
}
