@import '../variables.scss';

.topbar-setting {
  .topbar-setting-menu-item {
    border-left: 2px solid $background-color;
    padding: 10px 15px;
  }
  .topbar-setting-menu-item:hover {
    border-left: 2px solid $primary-color;
  }
  .topbar-setting-menu-item-link {
    text-decoration: none;
    color: black;
  }
  .topbar-setting-menu-item-option {
    font-size: 14px;
    line-height: 16px;
    margin: 0px;
  }
}