@import './variables.scss';
.required:after {
  content: '*';
  color: $required-color;
}
.accordion-icon {
  font-size: 20px !important;
}
.accordion-close-icon {
  transform: rotate(-90deg);
}

// .small-screen-drawer {
//   .MuiBackdrop-root {
//     opacity: 0 !important;
//   }
// }

.custom-box {
  padding: 10px;
  width: 100%;
  margin: 0 auto;
  border: 0.1px solid $primary-color;
  border-left: 5px solid $primary-color;

  svg {
    color: $primary-color;
  }
}

// <=======================common Styles===============================>
// colors
.color-primary {
  color: $primary-color !important;
}
.color-danger {
  color: red !important;
}
.color-silver {
  color: silver !important;
}
.color-success {
  color: green;
}

.color-dark {
  color: black;
}
.color-light {
  color: rgba(0, 0, 0, 0.87);
}
.color-orange {
  color: #df5520 !important;
}
.color-yellow {
  color: #e7cf7e !important;
}
.color-grey {
  color: #999 !important;
}
.clr-grey {
  color: #999 !important;
}
// background-color
.grey-bg {
  background-color: #fbfafa !important;
}

// text-align
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

// cursor
.cursor-pointer {
  cursor: pointer;
}

.border-top-bottom {
  border: none !important;
  border-top: 1px solid #ccc !important;
  border-bottom: 1px solid #ccc !important;
}

.form__form-group-error {
  font-size: 10px;
  line-height: 13px;
  color: #ad4444;
  display: block;
  margin-top: 1px;
  text-align: left;
}
.font-weight-bold {
  font-weight: bold;
}

.chart-of-account-detail-head {
  background-color: $background-color;
  padding: 20px;
  border-bottom: 2px dotted $primary-color;
}

// font size
.fs-13 {
  font-size: 13px !important;
  line-height: 18px;
}
.fs-14 {
  font-size: 14px !important;
  line-height: 18px;
}
.fs-24 {
  font-size: 24px !important;
}
.fs-30 {
  font-size: 30px !important;
}
// font weight
.fw-400 {
  font-weight: 400;
}

.display-intermediate-node {
  position: absolute;
  width: 18px;
  height: 20px;
  border-left: 1px solid #adadad;
  transform: translateY(28px);
}

.tax-return-detail {
  span {
    font-size: 12px;
    font-weight: 600;
  }
  p {
    font-size: 12px;
  }
}
.tax-return-detail-table {
  span {
    font-size: 12px;
    font-weight: 600;
  }
  p {
    font-size: 12px;
  }
}

.item-overview-title {
  font-weight: 600;
  font-size: 14px;
  color: $color-additional;
}

// scrollbar

/* width */
.hide-scrolbar {
  ::-webkit-scrollbar {
    width: 0px;
  }
}

// transitions

.sidebar-parent-list-icon {
  transform: rotate((90deg));
}
.show-transition {
  transition: all 1s ease;
  min-height: 50px;
  max-height: 500px;
  overflow: hidden;
}
.hide-transition {
  transition: all 0.3s ease;
  min-height: 0px;
  max-height: 0px;
  overflow: hidden;
}

// print
@media print {
  .no-print {
    visibility: hidden !important;
  }
  .do-print {
    visibility: visible !important;
  }
}
