.required:after {
  content: '*';
  color: $required-color;
}

.color-danger {
  color: red;
}
.color-success {
  color: green;
}

.color-dark {
  color: black;
}
.color-light {
  color: rgba(0, 0, 0, 0.87);
}
.accordion-icon {
  font-size: 20px !important;
}
.accordion-expand-icon {
}
.accordion-close-icon {
  transform: rotate(-90deg);
}
