@import './variables.scss';

.tabs-wrapper {
  .tab {
    width: 100%;
    border-radius: 0px;
    color: black;
  }
  .tab-selected {
    border-top: 2px solid $primary-color;
    border-left: 1px solid silver;
    border-right: 1px solid silver;
    border-bottom: 0px;
  }
  .tab-not-selected {
    border-bottom: 1px solid silver;
  }
}
