@import './variables.scss';

.item-overview-wrapper {
  margin-bottom: 15px;
  align-items: center;
}
.item-overview-heading {
  width: 100%;
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: 600;
  color: #000;
}
.item-overview-title {
  font-weight: 600;
  font-size: 14px;
  color: $color-additional;
}
.item-overview-value {
  font-size: 14px;
  //   font-weight: 200;
  color: #000;
}

.rotate-icon {
  transform: rotate(-90deg);
}
.icon {
  font-size: 20px;
}
.item-name-wrapper {
  font-size: 24px;
  color: $heading-color;
  font-weight: 300 !important;
}
.transaction-accordion {
  .MuiAccordionSummary-root {
    cursor: default !important;
  }
}
