$primary-color: #08517e;
$primary-hover-color: #063d5f;
$primary-hover-color-light: #e8f2f8;
$background-color: #f2f4f7;
$background-color-white: #ffffff;
$card-background-color: #ffffff;
$heading-color: #000;
$sub-heading-color: #999;
$color-additional: #999999;
$color-accent: #4ce1b6;
$required-color: #e54643;
$topbar-logo: url('../../public/logo.png');
