$primary-color: #29547d;
$primary-hover-color: #3283cf;
$background-color: #f2f4f7;
$background-color-white: #ffffff;
$card-background-color: #ffffff;
$heading-color: #000;
$sub-heading-color: #999;
$topbar-logo: url('https://stagingcrm.beyonderissolutions.com/img/luxury-logo.png');
