@import '../../variables.scss';

.customer__name {
  font-weight: 900;
  text-transform: uppercase;
  margin: 0;
  line-height: 18px;
}
.customer__contact {
  margin-top: 0;
  margin-bottom: 5px;
  line-height: 18px;
}
.fs-14 {
  font-size: 15px;
}
