@import '../variables.scss';
@import '~react-big-calendar/lib/css/react-big-calendar.css';

.calendar {
  height: 650px;
  // margin-bottom: 70px;

  .rbc-row-segment {
    margin-top: 15px;
    margin-bottom: -5px;
  }
  .rbc-date-cell {
    text-align: left;
    padding-right: 0px;

    a {
      display: block;
      width: 100%;
      padding-left: 10px;

      padding-top: 5px;
      font-weight: 500;
      font-size: 13px;

      color: $text-color;
    }
  }

  .rbc-header {
    height: 40px;
    display: flex;
    color: $color-additional;

    @media screen and (max-width: 600px) {
      white-space: pre-wrap;
    }

    @media screen and (max-width: 400px) {
      height: 20px;
    }

    background-color: $background-color;

    span {
      margin: auto;
      text-transform: uppercase;
      font-size: 12px;
    }

    a {
      display: block;
      margin: auto;
    }
  }

  .rbc-time-slot {
    display: flex;

    span {
      margin: auto 0;
    }
  }

  .rbc-off-range-bg {
    background-color: transparent;
  }

  .rbc-event {
    height: auto;
    font-size: 12px;
    background-color: $primary-color;
    border: $primary-color;

    &:focus {
      outline: 5px auto $primary-hover-color;
    }
  }

  .rbc-toolbar-label {
    text-transform: uppercase;
    font-weight: 700;

    color: $text-color;
  }

  .rbc-label {
    color: $text-color;
  }

  .rbc-month-row {
    overflow: visible;
  }

  .rbc-show-more {
    background-color: transparent;
    margin-top: -8px;
  }

  .rbc-toolbar button {
    height: 30px;
    border-radius: 3px;
    border: none;
    font-size: 11px;
    color: $color-additional;
    transition: all 0.3s;
    padding: 8px 14px;
    cursor: pointer;

    background-color: $primary-hover-color;

    &.rbc-active {
      box-shadow: none;
      background-color: #ededed;
      pointer-events: none;

      background-color: $background-color;
    }

    &:hover {
      color: $text-color;
      background-color: $background-color;
    }

    &:focus,
    &:active {
      outline: none;
      box-shadow: none;

      color: $text-color;
    }

    span {
      font-size: 8px;
      font-weight: 700;
    }
  }

  .rbc-btn-group:first-child {
    button {
      margin-right: 5px;

      padding: 8px 11px;

      &:last-child:not(:first-child),
      &:not(:first-child):not(:last-child),
      &:first-child:not(:last-child) {
        border-radius: 3px;
      }
    }
  }

  .rbc-btn-group:last-child {
    @media (max-width: 500px) {
      margin-top: 10px;
    }
  }

  .rbc-btn-group {
    min-width: 156px;
  }

  .rbc-header + .rbc-today {
    &:before {
      content: '';
      height: 3px;
      width: 100%;
      background-color: blue;
      top: 0;
      left: 0;
      right: 0;
      position: absolute;
    }
  }

  .rbc-today {
    background-color: transparent;
    position: relative;
  }

  .rbc-current-time-indicator {
    background-color: blue;

    &:before {
      background-color: blue;
    }
  }

  &.calendar--small {
    height: 400px;

    .rbc-toolbar-label {
      font-size: 10px;
      padding: 0 5px;
    }

    .rbc-btn-group {
      min-width: auto;

      button {
        padding: 4px 8px;
      }
    }
  }

  .rbc-overlay {
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.05);

    color: $text-color;
    background-color: $background-color;
  }

  .rbc-timeslot-group {
    border-bottom: 1px solid #ddd !important;
  }

  .rbc-time-content > * + * > * {
    border: none;
    border-left: 1px solid #ddd;
  }

  .rbc-time-header-content {
    border: none;
    border-left: 1px solid #ddd;
  }

  .rbc-header + .rbc-header {
    border: none;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
  }

  .rbc-day-bg + .rbc-day-bg {
    border: none;
    border-left: 1px solid #ddd;
  }

  .rbc-day-slot .rbc-events-container {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }

  .rbc-event-content {
    max-height: 60px;
    white-space: nowrap;
  }
  .rbc-time-column {
    left: -1px;
  }
}

.calendar-label {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;

  &.calendar-label--red {
    background-color: red;
  }

  &.calendar-label--green {
    background-color: green;
  }

  &.calendar-label--blue {
    background-color: blue;
  }
  &.calender-label--golden {
    background-color: $primary-color;
  }
}

.rbc-event {
  background-color: $primary-color;
}
