@import './styles/variables.scss';
@import './styles/mui/styles/mui.scss';
@import './styles/common.scss';
body {
  margin: 0;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif !important;
}
.main-wrapper {
  min-height: 100vh;
  background-color: $background-color;
  // padding: 10px 10px 0px 20px;
  padding: 20px 20px 20px 20px;
}
