@import './styles/variables.scss';
@import './styles//mui//styles/mui.scss';
@import './styles/common.scss';
body {
  margin: 0;
  font-family: 'Roboto', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Roboto', sans-serif !important;
}
.main-wrapper {
  min-height: 100vh;
  width: 100%;
  background-color: $background-color;
  padding: 10px 10px 0px 20px;
}
