@import './styles/variables.scss';
@import './styles//mui//styles/mui.scss';
@import './styles/common.scss';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
.main-wrapper {
  min-height: 100vh;
  width: 100%;
  background-color: $background-color;
  padding: 10px 10px 0px 20px;
}
